/* Configurações de Layouts básicos da aplicação */
body{
    display: flex;
    color: blanchedalmond;
    justify-content: center;
    background-image: url(image/o-que-e-criptografia-de-ponta-a-ponta.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    background-color: rgb(0, 0, 0, 0.6);
    border: rgb(97, 96, 96) solid 3px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 80%;
    width: 100%;
    height: max-content;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 90%;
}
/* Campo padrão para ambas as aplicações */
#escolherMetodo, #escolherCripDecrip{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 30%;
}
#entradaTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#entradas{
    display: flex;
    text-align: center;
    width: 80%;
    height: 100px;
    max-height: max-content;
}
#cifra, #base{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 80%;
    height: max-content;
}
#cifra , #base{
    display:none
}
#resultadoCifra, #resultadoBase{
    width: 80%;
    height: 200px;
    max-height: max-content;
    border: black solid 5px;
    background-color: rgb(97, 96, 96);
    border-radius: 15px;
}
#cifraBox, #baseBox{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
}
#resultadoCifra, #resultadoBase{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
}
button{
    border-radius: 5px;
    width: 60%;
    margin-top: 10px;
    font-size: 30px;
}
p, input, output, label{
    font-size: 20px;
}